body {background-color:white;
		text-align:center;}
	#mainContainer {
		margin:0 auto;
	}
	h1 {color:dimgray;
		font-family: 'Open Sans', sans-serif;
		font-size:200%;
	}
	h2 {color:dimgray;
		font-family: 'Open Sans', sans-serif;
		font-size:150%;
	}
	h3 {color:dimgray;
		font-family: 'Open Sans', sans-serif;
		font-size:100%;
	}