body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  color:dimgray;
  text-align:center;
}

h1 {
  top-padding: 1em;
  font-size: 25px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}


img {
border : 0;
/*max-width: 100%;
min-width: 75%;
height: auto;
width: auto\9; /* ie8 */
}

/*img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }*/

.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.shrink:hover,
.shrink:active,
.shrink:focus {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

/*.image-panel { 
    width: 100%;
    height: 50%;
    display: block;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#header{position: fixed; z-index: 999;}
#backgroundtop{
    background-image: url("../img/home/backgroundtop.jpg");
    height: 100%;
}

#background1{
    background-image: url("../img/home/background1.jpg");
}

#background2{
    background-image: url("../img/home/background2.jpg");
}

#background3{
    background-image: url("../img/home/background3.jpg");
}

#background4{
    background-image: url("../img/home/background4.jpg");
}

.content-panel {
    width: 100%;
    padding: 45px 0;
    position: relative;
    z-index: 9;
}

.content-first {
    background-color: black;
    width: 100%;
    padding: 45px 0;
    position: relative;
    z-index: 9;}
    /*
    -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.75);
}*/

/*#backgroundtop img{ margin: 0 auto; display: block;}

#title{
    margin: 0; !important
    padding: 0; !important
    font-size: 40px;
    color: white;
}

#arrow{ width: 5%; bottom: 5%; position: absolute; z-index: 999; margin: 0 auto; align-content: center; text-align: center; left: 47.5%}
#transitiontop{ width: 100%; bottom: 0%; position: absolute; left: 0%;}

#content1 img{margin: 0 auto; display: block;}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}*/
 
/*body {
  background: #333;
}
 
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

/*BLUR*/
/*.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(5px);
}*/