body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  color:dimgray;
  text-align:center;
}

h1 {
  top-padding: 2em;
  font-size: 25px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}


img {
border : 0;
}


.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.shrink:hover,
.shrink:active,
.shrink:focus {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
